/*************/
/* MY CUSTOM */
/*************/

@page:first{
  @top-left-corner {
    content: "test";
  }
}
/* GRID */
/* ----- */

/* CSS */
/* GRID SYSTEM */
/* see http://j4n.co/blog/Creating-your-own-css-grid-system */
/*----------------------------------------------------------*/
.grid-container {
  width: 100%;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  /*width: 100% / 12;
  /*-- our gutter -- */
  /*padding: 0px; */
  /*background-color: #FFDCDC;*/
}

.col-1 {
  width: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

.remark-code-line-highlighted {
    background-color: rgb(51, 51, 51);
}


/* INLINE CODE */
/* ----------- */

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
 /* background: #e7e8e2; /* darker */
 /* border-radius: 3px;
  padding: 4px;*/
  color: rgb(106,174,122);
  font-weight: bold;
}

/* TABLE */
/* ----- */

table {
  border-collapse: collapse;
  border-bottom: none;
  border-top: 5px solid rgb(85,85,85);
  max-width: 100%;
  font-size: 20px;
}


tbody > tr > td,
tfoot > tr > td {
  background-color: white;
}

thead, thead > tr {
  /*border-bottom: 1px solid black;*/
  background-color: rgba(23,37,45,1);
  color: rgb(230,230,230);
  border-left: 5px solid rgb(85,85,85);
  border-right: 5px solid rgb(85,85,85);
}

tbody {
  border-bottom: 5px solid rgb(85,85,85);
  border-top: 3px solid rgb(23,37,45);
  border-left: 5px solid rgb(85,85,85);
  border-right: 5px solid rgb(85,85,85);
}

th, td {
  padding: 2px 5px;
  vertical-align: top;
  /*border-bottom: 1px solid black;*/
}

/* MY CLASS */
/* -------- */

.tree {
  background-color: #002240;
  color: #FFFFFF;
}

.big {
  font-weight: bold;
  font-size: 110%;
}

.lesssmall, .lesssmall .remark-code {
  font-size: 90%;
}

.small, .small .remark-code {
  font-size: 80%;
}

.tiny {
  font-size: 60%;
}

.borderplus td {
  border: 1px solid rgb(85,85,85);
}

.excel table,
.excel table thead,
.excel table tbody,
.excel tbody tr td,
.excel thead,
.excel thead tr,
.excel thead tr th {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 90%;
}

.rowtable{
  background-color: #FFEA46;
  color: black;
}

.column{
  background-color: #00204D;
  color: white;
  font-weight: bold;
}

.donnee{
  background-color: #7C7B78;
  color: white;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

.remark-slide-content.wider {
  padding: 1em 1em 1em 1em;
}

.box{
padding: 10px;
}

.box p {
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  line-height: 26px;
}

/* Couleur */
.green {
  color: rgb(0, 128, 0);
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.white {
  color: white;
}

.boxgreen {
  color: white;
  background-color: #1B9E77;
  border-radius: 4px;
  padding: 2px;
}

.boxorange {
  color: white;
  background-color: #D95F02;
  border-radius: 4px;
  padding: 2px;
}

.boxpurple {
  color: white;
  background-color: #7570B3;
  border-radius: 4px;
  padding: 2px;
}

.boxgrey {
  color: black;
  background-color: rgb(150, 150, 150);
  border-radius: 4px;
  padding: 2px;
}
